.footer {
	padding-block: 30px;

	&__extra {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 20px;

		@include mobile {
			flex-direction: column;
			column-gap: 5px;
		}
	}

	&__copyright {
		font-size: 20px;
		color: var(--color-green);
	}

	&__privacy-policy-link {
		text-decoration: underline;
	}
}
